{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2>
    ABOUT ME
  </h2>
  
  <p>
    <b>AUTHOR:</b> Karol Uju Amajirionwu
  </p>
  
  <p>
    <b>WHO AM I?:</b> I am student currently studying Software System Development at Waterford Institution of Technology. 
    <br>At the weekends, I work part time at a call-centre in Wexford called Eishtec. Apart from that, I am either watching anime or playing video games or actually doing assignments.
  </p>
  
  <p>
    <b>Contact:</b> 089 5522525 or <b>Email:</b> karolUju.A@gmail.com
  </p>
  
  <p>
    <b>Location:</b> Waterfordd Institution of Technology, Cork road. Waterford. Ireland.
  </p>
 <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Waterford%20Institute%20of%20Technology+(Waterford%20Institution%20of%20Technology)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Map a route</a></iframe></div><br />
</section>