{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    TV SHOWS | ANIME LIBRARY
  </h1>
  <h4>
     WELCOME WEEBS!
  </h4>
  <p>
    On this website, you can creat a folder for your favourite anime. You can make a folder specifically for horror, action, romance or edgy anime.
  </p>
  
 <img src = "https://images8.alphacoders.com/860/860636.png" style="width:750px;height:500px">
</section>